{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi {{ current_user.name }}!</h1>

    <br>

    <ul class="nav nav-tabs">
      <li role="presentation" class="{{ tab_status["users"] }}"><a href="{{ url_for('main.see_user_leaderboard') }}">Users leaderboard</a></li>
      <li role="presentation" class="{{ tab_status["papers"] }}"><a href="{{ url_for('main.see_paper_leaderboard') }}">Papers leaderboard</a></li>
    </ul>

    <table class="table table-striped">
        <tr>
            {{ header }}
        </tr>

        {% for data_point in data %}
            <tr>
            {% include '_' + data_type + '_list.html' %}
            </tr>
        {% endfor %}

    </table>

    <br>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Previous
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
